@import './common.scss';
.audiotd {
        width: 250px;
        background: #f0f5f4;
        box-sizing: border-box;
        border-radius: 1px;
        position: relative;
        height: 2px;
        margin: 24px auto 48px auto;
    }
    
    .audiomove {
         position: relative;
        height: 2px;
    }
    
    .audiodot {
        position: absolute;
        top: -10px;
        left: 0;
        height: 20px;
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        font-size: 10px;
        color: #666;
        line-height: 20px;
        padding: 0 10px;
        width: auto;
        z-index: 6;
    }
    
    .audioline {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1px;
        height: 2px;
        z-index: 3;
        background: $theme;
    }
  .playview {
       
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .playviewoption {
            display: flex;
            align-items: center;
            height: 100%;
            .prve {
                width: 30px;
                height: 30px;
                background: url("../assets/image/next.png");
                background-size: 100% 100%;
                transform: rotate(180deg);
            }
            .prveoff {
                width: 30px;
                height: 30px;
                background: url("../assets/image/prve.png");
                background-size: 100% 100%;
            }
            .play {
                width: 50px;
                height: 50px;
                margin: 0 40px;
                border-radius: 50px;
                background: linear-gradient(270deg, rgba(73, 230, 197, 1) 0%, rgba(30, 199, 143, 1) 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                padding-left: 2px;
                .playpicoff {
                    width: 24px;
                    height: 24px;
                    background: url("../assets/image/audioplay.png");
                    background-size: 100% 100%;
                }
                .playpicon {
                    width: 24px;
                    height: 24px;
                    margin-left: -2px;
                    background: url("../assets/image/pause.png");
                    background-size: 100% 100%;
                }
            }
            .next {
                width: 30px;
                height: 30px;
                background: url("../assets/image/next.png");
                background-size: 100% 100%;
            }
            .nextoff {
                width: 30px;
                height: 30px;
                background: url("../assets/image/prve.png");
                background-size: 100% 100%;
                transform: rotate(180deg);
            }
        }
        .collectview {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            top: 0;
            right: 0;
            .collect {
                width: 24px;
                height: 24px;
                background: url("../assets/image/staroff.png");
                background-size: 100% 100%;
            }
            .collect-active {
                width: 24px;
                height: 24px;
                background: url("../assets/image/star.png");
                background-size: 100% 100%;
                animation: scale .3s;
            }
        }
    }