@import './common.scss';
.commontitles {
    width: 100%;
    position: fixed;
    z-index: 51;
    background-color: #ffffff;
    height: 60px;
    max-width: 768px;
    min-width: 320px;
    top: 0px;
}

.commontitle {
    width: 100%;
    height: 100%;
    position: relative;
}

.commonback {
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 3;
}

.commonbackpic {
    width: 24px;
    height: 24px;
    background: url("../assets/image/back.png");
    background-size: 100% 100%;
}

.commontitlename {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    color: #333333;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}

.videoclasspanelview {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
}

.videoclasspanels {
    width: 100%;
    float: left;
    height: 100%;
    background-color: $bcf;
}

.delview {
    right: 20px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

.del {
    float: left;
    padding: 0;
    width: 24px;
    height: 24px;
    background: url("../assets/image/delete.png");
    background-size: 100% 100%;
}

.comules {
    float: left;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    .comli {
        float: left;
        width: 100%;
        display: flex;
        background-color: $bcf;
        border-radius: 12px;
        margin-bottom: 20px;
        .compic {
            width: 100px;
            height: 100px;
            border-radius: 12px;
        }
        .comdetail {
            flex: 1;
            margin-left: 15px;
            .comname {
                float: left;
                width: 100%;
                font-size: 16px;
                color: $bt;
                font-weight: bold;
                line-height: 20px;
                @include Two_lines;
            }
            .text {
                float: left;
                font-size: 13px;
                color: $fz;
                @include One_lines;
                margin-top: 10px;
            }
        }
    }
}

.titlestate {
    float: left;
    width: 100%;
    font-size: 16px;
    color: $bt;
    font-weight: bold;
    margin-top: 20px;
    padding: 0 20px;
}

.nocntetview {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    .nocontent {
        float: left;
        width: 100%;
        margin-top: -30px;
        .nocontentpicview {
            float: left;
            width: 100%;
            display: flex;
            justify-content: center;
            .nocontentpic {
                float: left;
                width: 132px;
                height: 94px;
            }
        }
        .nocontenttext {
            width: 100%;
            float: left;
            text-align: center;
            font-size: 14px;
            color: $fz;
            margin-top: 30px;
        }
    }
}