@import './common.scss';
.videoclasspanelview {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    padding-top: 110px;
}

.paneview {
    width: 100%;
    float: left;
    height: 100%;
}

.videoclasspanels {
    width: 100%;
    float: left;
    height: 100%;
}

.optionbar {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
    top: 60px;
    display: flex;
    background-color: $bcf;
}

.bar {
    flex: 1;
    position: relative;
    height: 30px;
    float: left;
    margin-top: 15px;
}

.bartext {
    float: left;
    width: 100%;
    font-size: 16px;
    color: $bt;
    text-align: center;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
}

.bartext-active {
    float: left;
    font-size: 16px;
    color: $bt;
    text-align: center;
    line-height: 14px;
    font-weight: bold;
}

.barlineview {
    float: left;
    position: absolute;
    top: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.barline {
    float: left;
    background: $theme;
    height: 3px;
    border-radius: 1.5px;
    width: 20px;
    height: 3px;
    animation: scale 0.3s;
}

.comul {
    float: left;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    .comli {
        float: left;
        width: 100%;
        padding: 15px;
        display: flex;
        background-color: $bcf;
        border-radius: 12px;
        margin-bottom: 20px;
        .compic {
            width: 130px;
            height: 89px;
            border-radius: 12px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .complay {
                width: 24px;
                height: 24px;
                background: url("../assets/image/play.png");
                background-size: 100% 100%;
                border-radius: 50%;
            }
            .duration {
                background: rgb(0, 0, 0, 0.4);
                border-radius: 7.5px;
                width: auto;
                height: 15px;
                line-height: 16px;
                padding: 0 6px;
                position: absolute;
                left: 6px;
                bottom: 6px;
                .spshichang {
                    font-size: 10px;
                    color: $bcf;
                    transform: scale(0.83, 0.83);
                }
            }
        }
        .comdetail {
            flex: 1;
            margin-left: 15px;
            position: relative;
            .comname {
                float: left;
                width: 100%;
                font-size: 16px;
                color: $bt;
                font-weight: bold;
                line-height: 20px;
                @include Two_lines;
            }
            .num {
                position: absolute;
                bottom: 0px;
                height: 10px;
                line-height: 10px;
                .price {
                    float: left;
                    font-size: 16px;
                    color: $jg;
                    font-weight: bold;
                }
            }
        }
    }
}

.comuls {
    float: left;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    .comli {
        float: left;
        width: 100%;
        padding: 15px;
        display: flex;
        background-color: $bcf;
        border-radius: 12px;
        margin-bottom: 20px;
        .compic {
            width: 100px;
            height: 100px;
            border-radius: 12px;
            position: relative;
            .duration {
                background: rgb(0, 0, 0, 0.4);
                border-radius: 7.5px;
                width: auto;
                height: 15px;
                padding: 0 6px;
                position: absolute;
                left: 6px;
                bottom: 6px;
                .headset {
                    float: left;
                    margin-top: 2.2px;
                    width: 11px;
                    height: 10px;
                    background: url("../assets/image/headset.png");
                    background-size: 100% 100%;
                }
                .shuliang {
                    float: left;
                    height: 15px;
                    line-height: 17px;
                    margin-left: 2px;
                    color: $bcf;
                    font-size: 10px;
                    transform: scale(0.83, 0.83);
                }
            }
        }
        .comdetail {
            flex: 1;
            margin-left: 15px;
            position: relative;
            .comname {
                float: left;
                width: 100%;
                font-size: 16px;
                color: $bt;
                font-weight: bold;
                line-height: 20px;
                @include Two_lines;
            }
            .num {
                position: absolute;
                bottom: 0px;
                height: 10px;
                line-height: 10px;
                .price {
                    float: left;
                    font-size: 16px;
                    color: $jg;
                    font-weight: bold;
                }
                .listen {
                    float: left;
                    font-size: 14px;
                    color: $fz;
                    margin-left: 20px;
                }
            }
        }
    }
}

.comules {
    float: left;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    .comli {
        float: left;
        width: 100%;
        padding: 15px;
        display: flex;
        background-color: $bcf;
        border-radius: 12px;
        margin-bottom: 20px;
        .compic {
            width: 130px;
            height: 100.5px;
            border-radius: 12px;
        }
        .comdetail {
            flex: 1;
            margin-left: 15px;
            .comname {
                float: left;
                width: 100%;
                font-size: 16px;
                color: $bt;
                font-weight: bold;
                line-height: 20px;
                @include Two_lines;
            }
            .text {
                float: left;
                font-size: 13px;
                height: 15px;
                line-height: 17px;
                color: $fz;
                @include One_lines;
                margin-top: 10px;
            }
        }
    }
}

.nocntetview {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    .nocontent {
        float: left;
        width: 100%;
        margin-top: -55px;
        .nocontentpicview {
            float: left;
            width: 100%;
            display: flex;
            justify-content: center;
            .nocontentpic {
                float: left;
                width: 132px;
                height: 94px;
            }
        }
        .nocontenttext {
            width: 100%;
            float: left;
            text-align: center;
            font-size: 14px;
            color: $fz;
            margin-top: 30px;
        }
    }
}

.pricemianfei {
    float: left;
    font-size: 14px;
    color: $theme;
}

.vanttab {
    float: left;
    height: 100%;
    width: 100%;
}

::v-deep .van-tab {
    font-size: 16px;
    .van-ellipsis {
        font-weight: bold;
    }
}

::v-deep .van-tab--active {
    font-size: 16px;
    .van-ellipsis {
        font-weight: bold;
    }
}

::v-deep .van-tabs__line {
    border-radius: 1.5px;
}