@import './common.scss';
.videoclasspanelview {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    background-color: #ffffff;
    padding-bottom: 50px;
}

.videoclasspanels {
    width: 100%;
    float: left;
    height: 100%;
}

.page {
    float: left;
    background-color: $bcf;
    width: 100%;
}

.comli {
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 0 20px;
    display: flex;
    background-color: $bcf;
    border-radius: 12px;
    flex-wrap: wrap;
    .compic {
        width: 100px;
        height: 100px;
        border-radius: 12px;
        position: relative;
    }
    .comdetail {
        flex: 1;
        margin-left: 15px;
        position: relative;
        .comname {
            float: left;
            width: 100%;
            font-size: 16px;
            color: $bt;
            font-weight: bold;
            line-height: 20px;
            @include Two_lines;
        }
        .num {
            position: absolute;
            bottom: 0px;
            height: 10px;
            line-height: 10px;
            .price {
                float: left;
                font-size: 16px;
                color: $jg;
                font-weight: bold;
            }
            .listen {
                float: left;
                font-size: 14px;
                color: $fz;
                margin-left: 20px;
            }
        }
    }
}

.uploadingimgs {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.uploadrtext {
    float: left;
    color: $fz;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 20px;
}

.doctor {
    width: 100%;
    float: left;
    padding: 0 20px;
    margin-top: 20px;
    display: flex;
    .pic {
        width: 55px;
        height: 55px;
        margin-right: 15px;
    }
    .detail {
        flex: 1;
        .nameview {
            width: 100%;
            float: left;
            line-height: 15px;
            .name {
                float: left;
                font-size: 16px;
                color: $bt;
                font-weight: bold;
                margin-right: 10px;
            }
            .zhuzhi {
                float: left;
                font-size: 12px;
                color: $bt;
            }
        }
        .content {
            float: left;
            width: 100%;
            margin-top: 10px;
            font-size: 12px;
            color: $bt;
            padding: 15px 10px;
            line-height: 16px;
            background-color: $bc;
            border-radius: 6px;
        }
    }
}

.models {
    float: left;
    width: 100%;
    padding: 0 20px;
    .close {
        width: 100%;
        float: left;
        margin-top: 15px;
        .closepic {
            float: right;
            width: 24px;
            height: 24px;
            background: url("../assets/image/close.png");
            background-size: 100% 100%;
        }
    }
    .changepay {
        width: 100%;
        float: left;
        font-size: 22px;
        font-weight: bold;
        color: $bt;
    }
}

.pushchange {
    width: 100%;
    float: left;
    margin-top: 40px;
    padding: 0 20px;
    .pushchanges {
        padding: 0;
        background-color: transparent;
        width: 100%;
        float: left;
        height: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .paypic {
            float: left;
            width: 30px;
            height: 30px;
            background: url("../assets/image/wx.png");
            background-size: 100% 100%;
        }
        .paypics {
            float: left;
            width: 30px;
            height: 30px;
            background: url("../assets/image/zfb.png");
            background-size: 100% 100%;
        }
        .paykami {
            float: left;
            width: 30px;
            height: 30px;
            background: url("../assets/image/kami.png");
            background-size: 100% 100%;
        }
        .paytext {
            margin-left: 10px;
            font-size: 16px;
            font-weight: bold;
            color: $bt;
        }
        .changestyle {
            margin-left: auto;
            border-radius: 50%;
            border: 1px solid #979797;
            width: 24px;
            height: 24px;
        }
        .changestyle-active {
            margin-left: auto;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            background: url("../assets/image/pitchon.png");
            background-size: 100% 100%;
            animation: scale 0.3s;
        }
    }
}

.bottombtn {
    width: 100%;
    position: fixed;
    z-index: 5;
    height: 50px;
    bottom: 0;
    .allpriceview {
        float: left;
        width: 40%;
        height: 50px;
        padding: 0;
        background: $bcf;
        display: flex;
        justify-content: center;
        div {
            .alltext {
                float: left;
                color: $bt;
                font-size: 13px;
                font-weight: bold;
            }
            .allprice {
                float: left;
                color: $jg;
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
    .gobuy {
        float: left;
        width: 60%;
        height: 50px;
        padding: 0;
        background: $theme;
        color: $bcf;
        font-size: 16px;
        font-weight: bold;
    }
}

.fromdatas {
    display: none;
}

#pay_form {
    display: none;
}

.paygroup {
    float: left;
    width: 100%;
    margin-top: 15px;
    padding: 0 20px;
    display: flex;
    background-color: $bcf;
    border-radius: 12px;
    .paygrouppic {
        width: 140px;
        height: 91px;
        border-radius: 12px;
        position: relative;
    }
    .paygroupview {
        flex: 1;
        margin-left: 12px;
        position: relative;
        .paygrouptitle {
            float: left;
            width: 100%;
            font-size: 16px;
            color: $bt;
            font-weight: bold;
            line-height: 20px;
            @include Two_lines;
        }
        .paygrouptime {
            float: left;
            width: 100%;
            margin-top: 9px;
            color: #999999;
            font-size: 12px;
        }
        .price {
            position: absolute;
            bottom: 0px;
            height: 10px;
            line-height: 10px;
            font-size: 13px;
            color: $jg;
            font-weight: bold;
        }
    }
}

.msglistul {
    width: 100%;
    float: left;
    margin-top: 20px;
    .msglistli {
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 16px;
        border-bottom: 1px solid #EBEFF5;
        .listlabel {
            color: #666666;
            font-size: 13px;
            width: 63px;
            text-align: right;
        }
        .listname {
            margin-left: auto;
            font-size: 14px;
            color: $bt;
            margin-right: 16px;
        }
    }
}

.paybtngroupview {
    width: 100%;
    position: fixed;
    z-index: 6;
    height: 60px;
    bottom: 0;
    padding: 0 16px;
    display: flex;
    align-items: center;
    background: $bcf;
    .paybtngroup {
        height: 44px;
        padding: 0;
        background: $theme;
        font-size: 14px;
        font-weight: bold;
        color: $bcf;
        border-radius: 2px;
    }
}

.icc {
    width: 100%;
    font-size: 13px;
    color: #999999;
    text-align: center;
    margin-top: 40px;
    img{
        width: 70%;
        margin: auto;
    }
}
.icc1 {
    width: 100%;
    font-size: 13px;
    color: #999999;
    text-align: center;
    margin-top: 10px;
    img{
        width: 70%;
        margin: auto;
    }
}
.siberian{
    width: 90%;
    margin: auto;
    background: #F7F9FC;
    padding: 5px 0 5px 20px;
    border-radius: 5px;
    .siberipunt{
        width: 70%;
        float: left;
        background: #F7F9FC;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }
    .jihuo{
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        float: right;
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        background: #21C891;
    }
}
.teacherfw {  //老师服务
    width: 100%;
    height: 30px;
    padding: 5px 0;
    margin: 10px auto;
    display: flex;
    .icon {
        width: 17px;
        height: 17px;
        margin-top: 3px;
        margin-left: 3px;
        background: url("../assets/image/slices.png");
        background-size: 100% 100%;
    }

    .text {
        width: 218px;
        font-size: 14px;
        color: #666666;
        line-height: 22px;
        text-indent: 10px;
    }
    .price{
         width: 75px;
         color: #FC5D28;
         font-size:16px ;
         font-weight: bold;
         line-height: 20px;
         margin-left: auto;
    }
    

}
.quanview {
    display: flex;
    width: 100%;
    height: 30px;
    padding: 5px 5px;
 
    .quanpic {
        width: 14px;
        height: 11px;
        background: url("../assets/image/quan.png");
        background-size: 100% 100%;
    }

    .quantext {
        text-indent: 4px;
        color: #999999;
        font-size: 14px;
        margin-left: 6px;
        .price{
            color: #FC5D28;
            text-decoration:line-through;
        }
    }
}
.agree{
    width: 300px;
    margin: 120px auto 0 auto;
    display: flex;
    font-size: 14px;
    align-items: center;
    .changestyle {
        border-radius: 50%;
        border: 1px solid #979797;
        width: 14px;
        height: 14px;
    }
    .changestyle-active {
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background: url("../assets/image/pitchon.png");
        background-size: 100% 100%;
        animation: scale 0.3s;
    }
    .text{
        text-align: center;
         color: #666666;
         margin-left: 5px;
    }
    .linkchick{
        color: #1EC08B;
    }
}